@import "variables";
@import "reset";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-gray-darker);
}
